.typography {
	margin: 0;
	font-family: inherit;
	cursor: inherit;
	color: inherit;
}

/* Truncate */
.typography[data-truncate='true'] {
	width: inherit;
	max-width: inherit;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.typography[data-space-word='true'] {
	overflow-wrap: break-word;
	white-space: normal;
}

.typography[data-pre-wrap='true'] {
	white-space: pre-wrap;
}

/* Blink */
.typography[data-blink='true'] {
	animation: blink 2s ease-in-out infinite;
}

/* Gutter */
.typography[data-gutter='true'] {
	margin-top: -0.125rem;
}

/* Capitalyse */
.typography[data-capitalyse='true'] {
	text-transform: capitalize;
}
.typography[data-uppercase='true'] {
	text-transform: uppercase;
}

/* Variants */
.typography[data-variant='body1'] {
	font-size: 1rem;
	line-height: 1.5;
}
.typography[data-variant='body2'] {
	font-size: 0.875rem;
	line-height: 1.43;
}
.typography[data-variant='subtitle1'] {
	font-size: 1rem;
	line-height: 1.75;
}
.typography[data-variant='subtitle2'] {
	font-size: 0.875rem;
	line-height: 1.57;
}
.typography[data-element='h1'] {
	font-size: 2.375rem;
	line-height: 1.2;
}
.typography[data-element='h2'] {
	font-size: 1.75rem;
	line-height: 1.25;
}
.typography[data-element='h3'] {
	font-size: 1.25rem;
	line-height: 1.3;
}
.typography[data-element='h4'] {
	font-size: 1.125rem;
	line-height: 1.35;
}

/* Alignment */
.typography[data-align='left'] {
	text-align: left;
}
.typography[data-align='center'] {
	text-align: center;
}
.typography[data-align='right'] {
	text-align: right;
}
.typography[data-align='justify'] {
	text-align: justify;
}

/* Colors */
.typography[data-color='theme'] {
	color: var(--typography-text-color-theme);
}
.typography[data-color='accent'] {
	color: var(--typography-text-color-accent);
}
.typography[data-color='info'] {
	color: var(--typography-text-color-infos);
}
.typography[data-color='success'] {
	color: var(--typography-text-color-success);
}
.typography[data-color='warning'] {
	color: var(--typography-text-color-warning);
}
.typography[data-color='danger'] {
	color: var(--typography-text-color-danger);
}

/* Weights */
.typography[data-font-weight='lighter'] {
	font-weight: lighter;
}
.typography[data-font-weight='normal'] {
	font-weight: normal;
}
.typography[data-font-weight='medium'] {
	font-weight: 500;
}
.typography[data-font-weight='semibold'] {
	font-weight: 600;
}
.typography[data-font-weight='bold'] {
	font-weight: bold;
}

/* space */
.typography[data-space='tight'] {
	letter-spacing: -0.025em;
}
.typography[data-space='wide'] {
	letter-spacing: 0.05em;
}

/* size */
.typography[data-element='span'][data-size='xs'] {
	font-size: var(--typography-text-size-xs);
}
.typography[data-element='span'][data-size='s'] {
	font-size: var(--typography-text-size-s);
}
.typography[data-element='span'][data-size='m'] {
	font-size: var(--typography-text-size-m);
}
.typography[data-element='span'][data-size='l'] {
	font-size: var(--typography-text-size-l);
}
.typography[data-element='span'][data-size='xl'] {
	font-size: var(--typography-text-size-xl);
}
.typography[data-element='span'][data-size='2xl'] {
	font-size: var(--typography-text-size-2xl);
}
.typography[data-element='span'][data-size='3xl'] {
	font-size: var(--typography-text-size-3xl);
}
.typography[data-element='span'][data-size='4xl'] {
	font-size: var(--typography-text-size-4xl);
}
.typography[data-element='span'][data-size='5xl'] {
	font-size: var(--typography-text-size-5xl);
}
.typography[data-element='p'][data-size='xs'] {
	font-size: var(--typography-text-size-xs);
}
.typography[data-element='p'][data-size='s'] {
	font-size: var(--typography-text-size-s);
}
.typography[data-element='p'][data-size='m'] {
	font-size: var(--typography-text-size-m);
}
.typography[data-element='p'][data-size='l'] {
	font-size: var(--typography-text-size-l);
}
.typography[data-element='p'][data-size='xl'] {
	font-size: var(--typography-text-size-xl);
}
.typography[data-element='p'][data-size='2xl'] {
	font-size: var(--typography-text-size-2xl);
}
.typography[data-element='p'][data-size='3xl'] {
	font-size: var(--typography-text-size-3xl);
}
.typography[data-element='p'][data-size='4xl'] {
	font-size: var(--typography-text-size-4xl);
}
.typography[data-element='p'][data-size='5xl'] {
	font-size: var(--typography-text-size-5xl);
}

/* underline */
.typography[data-underline='true'] {
	text-decoration: underline;
}

/* Animation */
@keyframes blink {
	0%,
	100% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
}
