.container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 1.4rem;
	min-height: 315.94px;
	max-height: 315.94px;
	position: relative;
	background-color: var(--table-background-color-standard);
	border-radius: var(--table-radius);
	box-shadow: inset 0 0 0 1px var(--table-border-color-standard);
	z-index: 1;
	padding: var(--table-padding);
	color: var(--table-text-color-standard);
	font-size: var(--table-dummy-font-size-standard);
}

.container::before {
	width: calc(100% - var(--table-padding) * 2);
	height: 2.8rem;
	content: '';
	position: absolute;
	top: var(--table-padding);
	left: var(--table-padding);
	background-color: var(--table-header-background-color-standard);
	border-radius: var(--table-header-radius);
	z-index: 2;
}

.loader {
	margin-top: 5px;
	width: 50px;
	height: 50px;
	border: 10px solid var(--table-text-color-standard);
	border-radius: 50%;
	position: relative;
	transform: rotate(45deg);
	box-sizing: border-box;
}
.loader::before {
	content: '';
	position: absolute;
	box-sizing: border-box;
	inset: -10px;
	border-radius: 50%;
	border: 10px solid var(--table-dummy-spinner-background-color);
	animation: prixClipFix 2s infinite linear;
}

@keyframes prixClipFix {
	0% {
		clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
	}
	25% {
		clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
	}
	50% {
		clip-path: polygon(
			50% 50%,
			0 0,
			100% 0,
			100% 100%,
			100% 100%,
			100% 100%
		);
	}
	75% {
		clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
	}
	100% {
		clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);
	}
}
